{% extends "anamnesis/layout.html" %}
{% load static %}

{% block script %}
<script>
    function edit(id) {
        console.log("Edit function called");

        // Obtain the various entries of the form
        var history = document.querySelector(`#history_${id}`).textContent;
        var physical = document.querySelector(`#physical_${id}`).textContent;
        var diagnostic = document.querySelector(`#diagnostic_${id}`).textContent;
        var prescription = document.querySelector(`#prescription_${id}`).textContent;
        var dateappointment = document.querySelector(`#nextappointment_${id}`).textContent;
        console.log(diagnostic, history, prescription, dateappointment)

        //Toggle on and off between the textarea and the div that holds the text
        document.querySelector(`#historyEdit_${id}`).style.display= 'block';
        document.querySelector(`#history_${id}`).style.display= 'none';

        document.querySelector(`#physicalEdit_${id}`).style.display= 'block';
        document.querySelector(`#physical_${id}`).style.display= 'none';

        document.querySelector(`#diagnosticEdit_${id}`).style.display= 'block';
        document.querySelector(`#diagnostic_${id}`).style.display= 'none';

        document.querySelector(`#prescriptionEdit_${id}`).style.display= 'block';
        document.querySelector(`#prescription_${id}`).style.display= 'none';

        document.querySelector(`#dateEdit_${id}`).style.display= 'block';
        document.querySelector(`#nextappointment_${id}`).style.display= 'none';

        //Populate the textarea element with the post text
        document.querySelector(`#diagnosticEdit_${id}`).innerHTML = diagnostic;
        document.querySelector(`#physicalEdit_${id}`).innerHTML = physical;
        document.querySelector(`#prescriptionEdit_${id}`).innerHTML = prescription;
        document.querySelector(`#historyEdit_${id}`).innerHTML = history;
        document.querySelector(`#dateEdit_${id}`).innerHTML = dateappointment;

    }

function save(id) {
    // Get the new texts
    let newHistory = document.querySelector(`#historyEdit_${id}`).value;
    let newPhysical = document.querySelector(`#physicalEdit_${id}`).value;
    let newDiagnostic = document.querySelector(`#diagnosticEdit_${id}`).value;
    let newPrescription = document.querySelector(`#prescriptionEdit_${id}`).value;
    let newDate = document.querySelector(`#dateEdit_${id}`).value;

    // Save through API
    fetch(`/edit/${id}`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCookie('csrftoken') // Fetch the CSRF token from the cookie
        },
        body: JSON.stringify({
            history: newHistory,
            physical: newPhysical,
            diagnostic: newDiagnostic,
            prescription: newPrescription,
            date: newDate,
        })
    })
    .then(response => response.json())
    .then(result => console.log(result))

     //Populate the paragraph element with the the new info
    document.querySelector(`#history_${id}`).innerHTML = newHistory;
    document.querySelector(`#physical_${id}`).innerHTML = newPhysical;
    document.querySelector(`#diagnostic_${id}`).innerHTML = newDiagnostic;
    document.querySelector(`#prescription_${id}`).innerHTML = newPrescription;
    document.querySelector(`#nextappointment_${id}`).innerHTML = newDate;

    //Toggle on and off between the textarea and the div that holds the text
    document.querySelector(`#historyEdit_${id}`).style.display= 'none';
    document.querySelector(`#history_${id}`).style.display= 'block';

    document.querySelector(`#physicalEdit_${id}`).style.display= 'none';
    document.querySelector(`#physical_${id}`).style.display= 'block';

    document.querySelector(`#diagnosticEdit_${id}`).style.display= 'none';
    document.querySelector(`#diagnostic_${id}`).style.display= 'block';

    document.querySelector(`#prescriptionEdit_${id}`).style.display= 'none';
    document.querySelector(`#prescription_${id}`).style.display= 'block';

    document.querySelector(`#dateEdit_${id}`).style.display= 'none';
    document.querySelector(`#nextappointment_${id}`).style.display= 'block';
    
}


// Function to get CSRF token from cookie
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
</script>

{% endblock %}


<!--We are able to see a patient's file and able to edit-->
{% block body %}
{% if user.is_authenticated %}
<a href="{% url 'file' fileofpatient.patient.id%}"><h2 class="mt-4" style="text-align: center;">{{fileofpatient.patient}}</h2></a>
    
        <div class="card container col-sm-8">
            <div class="card-body">
                <h5 class="card-title mb-2" style="text-align: center;">Visit</h5>
                <p class="card-text " style="text-align: center;">{{fileofpatient.visit}}</p>

                <h5 class="card-subtitletitle mb-2" style="text-align: center;">History</h5>
                <p id="history_{{fileofpatient.id}}" class="card-text">{{fileofpatient.history}}</p>
                    <textarea class="form-control" id="historyEdit_{{ fileofpatient.id }}" style="display:none"></textarea>

                <h5 class="card-subtitletitle mb-2" style="text-align: center;">Physical Exam</h5>
                <p id="physical_{{fileofpatient.id}}" class="card-text">{{fileofpatient.physicalExam}}</p>
                    <textarea class="form-control" id="physicalEdit_{{ fileofpatient.id }}" style="display:none"></textarea>

                <h5 class="card-title mb-2" style="text-align: center;">Diagnostic</h5>
                <p id="diagnostic_{{fileofpatient.id}}" class="card-text">{{fileofpatient.diagnostic}}</p>
                    <textarea class="form-control" id="diagnosticEdit_{{ fileofpatient.id }}" style="display:none"></textarea>

                <h5 class="card-title mb-2" style="text-align: center;">Prescription</h5>
                <div id="printContent">
                    <pre id="prescription_{{fileofpatient.id}}" class="card-text">{{fileofpatient.prescription}}</pre>
                </div>
                    <textarea class="form-control" id="prescriptionEdit_{{ fileofpatient.id }}" style="display:none"></textarea> 

                <h5 class="card-title mb-2">Next appointment:</h5>                  
                <p id="nextappointment_{{fileofpatient.id}}" class="card-text">{{fileofpatient.nextappointment}}</p>
                    <input type="datetime-local" id="dateEdit_{{ fileofpatient.id }}" value="" style="display:none"/>
                
                <div class="container">
                    <div class="row row justify-content-md-center">
                        <div class="col">
                            <button type="button" class="btn btn-primary" onclick="edit({{fileofpatient.id}})">Edit</button>
                        </div>
                        <div class="col">
                            <button type="button" class="btn btn-primary" onclick="save({{fileofpatient.id}})">Save</button>
                        </div>
                        <div class="col">
                            <button id="printPrescription" type="button" class="btn btn-primary" onclick="print()">Print prescription</button>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

         <!--Render images-->
         <div class="container">
            <div class="row">
                {% for image in images %}
                <p>The url is {{ image }}</p>
                <div class="card" style="width: 18rem">
                    <img class="card-image-top" src="{{ image }}">
                </div>
                {% endfor %}
            </div>
        </div>

{% else %}
<h1>403  You do not have access. Log in</h1>
{% endif %}     
{% endblock %}

