{% extends "anamnesis/layout.html" %}
{% load static %}

{% block body %}

    {% if user.is_authenticated %}
        <div class="container mt-5">
            <p>Welcome to Anamnesis, a platform that helps doctors keep control of their patients and their career.</p>

            {% if message %}
                {{ message }}
            {% else %}
            {% endif %}
        </div>
    {% else %}

        <div class="container mt-5">
            <p>Welcome to Anamnesis</p>
        </div>
    
    {% endif %}
{% endblock %}