a:link {

}

body{
    position: relative;
    background-color: rgb(245, 239, 220);
    font-family: "Calibri";

}



.credential {
    margin-top: 80px;
    
}

.card {
    margin-top: 8px;
    margin-bottom: 6px;
    background-color: #d9cfc1;  
}


h1 {
    color: #9a6d44;
}

h5 {
    color:#996f47;
}

#imageIndex {
    background-color: rgb(245, 239, 220);
    border: none;
    width:auto;
    height: 200px;
    margin-top: 30px;
    margin-left: 4px;
    
}

.imageNav {
    background-color:  rgb(128, 161, 193);
    border: none;
    width:auto;
    height: 60px;
    


}

#listofpatients li {
    color:#ba3f1d;
    margin-top: 2px;
    margin-bottom: 5px;
    padding-bottom: 0px;
    padding-bottom: opx;
    

}

#pagination {
    background-color: rgb(245, 239, 220);
}

.paginationbtn {
    background-color: #ba3f1d;
}

nav {
    width: 100%;
    box-sizing: content-box;
    overflow: scroll;
    background-color: rgb(128, 161, 193);
    color: white;
}

.navbar-nav li:hover {
    background-color:#eee3ab;
}

ul {
    list-style-type: none;
}